<h1>Ideas</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ideas.each do |idea| %>
  <tr>
    <td><%= link_to idea.title, idea  %> </td>
    <td>Votes: <%= idea.votes_counter_cache %></td>
    <td>
      <%= render :partial => 'votes/form', :locals => { :idea => idea } %>
    </td>
    <td><%= link_to 'delete', idea, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Idea', new_idea_path %>
