<p id="notice"><%= notice %></p>
<h1><%= @idea.title %>: <small><%= @idea.votes_counter_cache %> votes</h1>
<%= render :partial => 'votes/form', :locals => { :idea => @idea } %>
<p><%= @idea.description %></p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
